body {
    font-family: 'Domine', serif;
    font-weight: 400;
}
.header {
    margin-top: 20px;
}
.header .container {
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
}
.header .logo {
    display: block;
}
.nav ul {
    text-align: right;
    padding: 0;
    margin-top: 22px;
}
.nav ul li {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    text-align: center;
}
.nav ul li:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    right: -4px;
    background: #939393;
    border-right: 1px solid #c6c6c6;
    width: 2px;
    height: 16px;
}
.nav ul li a {
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.nav ul li:last-child {
    padding-right: 0;
}
.nav ul li:last-child:after {
    background: none;
}
.home-slider {
    height: 548px;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 57px;
}
.home-slider .container {
    height: 100%;
}
.home-content h4 {
    margin-bottom: 22px;
    font-size: 24px;
    margin-top: -3px;
}
.home-content {
    padding: 0 0 8px 0;
}
.container .home-content {
    padding-right: 0;
    padding-left: 0;
}
.home-content .image {
    position: relative;
}
.home-content img {
    display: block;
}
.home-content .image:after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: 43px;
    background: url('../images/img.home-flowers.png') no-repeat;
    width: 155px;
    height: 175px;
}
.body-copy {
    margin: -1px 0px 0 -22px;
    padding-right: 0px;
}
.body-copy p {
    text-indent: 40px;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin: 0 0 23px;
}
.container .news a {
    color: #000000;
    text-align: right;
    float: right;
}
.status-bar {
    margin-top: 28px;
    background-color: #f4f4f4;
    width: 300px;
    border: 1px solid #e4e4e4;
}
.status-bar .heading h3 {
    padding: 13px 0 20px;
    text-align: left;
    font-size: 21px;
    margin: 20px 23px 19px 22px;
    border-bottom: 1px solid #e4e4e4;
}
.information .status-bar .list ul {
    list-style: none;
    padding-left: 9px;
}
.information .status-bar .list ul li {
    list-style-image: url('../images/icon.index-list.png') !important;
    margin: 27px;
    padding-left: 7px;
}
.news .blocks ul {
    list-style-type: none;
}
.news .blocks ul li {
    padding-bottom: 40px;
}
.news {
    margin-top: 17px;
    padding-top: 35px;
    background: url('../images/img.border.png') no-repeat 295px top;
}
.news h3 {
    margin-top: 11px;
    font-size: 21px;
    padding: 0 0 23px 50px;
}
.news h4 {
    font-size: 18px;
}
.news p {
    font-size: 12px;
    text-align: justify;
}
.contact {
    position: relative;
    background-color: #0f0f0f;
    width: 100%;
    color: #ffffff;
    padding: 0 0 40px;
    margin-bottom: 0;
}
.contact ul {
    padding-left: 0;
}
.contact .container {
    padding-left: 0;
    padding-right: 0;
}
.contact .office .details {
    float: left;
    padding-right: 37px;
}
.contact .office:last-child {
    margin-right: 0;
}
.contact .office:last-child .details {
    padding-right: 0;
}
.contact .office .details ul {
    padding: 0;
}
.contact .office .image {
    float: left;
    padding-right: 12px;
}
.contact .office {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.contact h2 {
    font-size: 21px;
    margin: 7px 0 0 0;
    padding: 35px 0 26px 0;
    border-top: 1px solid #4b4b4b;
}
.contact .office h3 {
    font-size: 16px;
    margin-top: 12px;
}
.contact .office .icon {
    position: relative;
    font-size: 14px;
    padding-left: 20px;
}
.contact .office .icon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.contact .office .icon.phone:before {
    background: url('../images/icon.white-phone.png');
    width: 20px;
    height: 21px;
}
.contact ul {
    list-style: none;
}
.contact .office .icon.mobile:before {
    background: url('../images/icon.white-mobile.png');
    width: 13px;
    height: 20px;
}
.homepage .contact:after {
    content: '';
    position: absolute;
    top: -69px;
    left: 216px;
    background: url('../images/img.contact-flowers.png') no-repeat;
    width: 205px;
    height: 118px;
}
.contact .office ul li {
    margin-bottom: 8px;
}
.footer {
    margin-top: 25px;
    margin-bottom: 30px;
}
.footer p {
    margin-left: 0px;
}
.footer .container {
    padding: 0;
}
body.sub-page {
    background: url('../images/bg.heading-image.jpg') no-repeat top center;
}
.about-heading h1 {
    font-size: 30px;
    margin: 78px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d1d1d;
}
.about-page .container {
    padding: 0;
}
.about-information {
    padding-top: 18px;
    margin-bottom: 20px;
    padding-bottom: 65px;
}
.about-page .about-image {
    padding: 11px 22px 0 20px;
    float: left;
}
.about-text {
    padding: 0 22px;
    text-align: justify;
    line-height: 23px;
}
.funreal .container {
    padding: 0;
}
.funreal-heading h1 {
    font-size: 39px;
    margin: 70px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d1d1d;
}
.funreal-blocks {
    margin-top: 45px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}
.funreal-blocks ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}
.funreal-blocks ul img {
    float: left;
    padding-right: 15px;
}
.funreal-blocks a {
    color: #000000;
    text-align: right;
    float: right;
    padding-bottom: 30px;
    font-size: 12px;
}
.funreal-blocks h4 {
    font-size: 18px;
    margin-top: 5px;
}
.funreal-blocks p {
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
}
.services .container {
    padding: 0;
}
.services-heading h1 {
    font-size: 39px;
    margin: 70px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d1d1d;
}
.services-info {
    padding-top: 18px;
    margin-bottom: 20px;
    padding-bottom: 65px;
}
.services-info .services-staff {
    padding: 11px 22px 0 20px;
    float: left;
}
.services-text {
    padding: 0 22px;
    text-align: justify;
    line-height: 23px;
}
.services-text p {
    padding-bottom: 20px;
}
.sub-page .content-box ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style: none;
    padding-top: 15px;
    padding-left: 0;
}
.content-box .services-text {
    padding-right: 0;
}
.content-box .services-text ul li {
    position: relative;
    list-style-image: url('../images/icon.index-list.png') !important;
    padding-left: 10px;
    margin: 1px -30px 1px 20px;
    padding-right: 10px;
}
.contact-page .container {
    padding: 0;
}
.contact-heading h1 {
    font-size: 39px;
    margin: 70px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #1d1d1d;
}
.contact-text {
    padding-top: 14px;
}
.contact-text p {
    font-size: 13px;
    line-height: 21px;
    text-align: justify;
}
.contact-text .form p {
    margin-bottom: 20px;
}
.contact-text .form input[type="submit"] {
    width: 85px;
    height: 38px;
    background-color: #1d1d1d;
    color: #ffffff;
    text-align: justify;
    float: right;
}
.contact-text .form input {
    display: block;
    width: 272px;
    color: #1d1d1d;
    font-size: 14px;
    padding: 11px 0 11px 15px;
    margin: 0;
    border: 1px solid #dcdcdc;
}
.contact-text .form textarea {
    display: block;
    width: 400px;
    height: 155px;
    font-size: 14px;
    color: #1d1d1d;
    margin: 0;
    border: 1px solid #dcdcdc;
}
.contact-details {
    padding-left: 43px;
    padding-bottom: 10px;
}
.contact-text .heading h3 {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 25px;
    padding-bottom: 8px;
    font-size: 24px;
}
.contact-details h1 {
    border-bottom: 1px solid #e4e4e4;
    font-size: 24px;
    margin-bottom: 25px;
    padding-bottom: 8px;
}
.contact-details h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 11px;
}
.contact-details .image {
    float: left;
}
.contact-details .details {
    float: left;
    margin: 8px 0 29px 22px;
}
.contact-details .details ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.contact-text .contact-details ul li {
    margin-bottom: 41px;
}
.contact-text .contact-details ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.contact-text .contact-details ul li ul {
    width: 300px;
}
.contact-text .contact-details .details ul li {
    position: relative;
    margin-bottom: 8px;
}
.contact-text .contact-details ul {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}
.contact-text .contact-details .details ul li {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    margin: 0 10px 10px 0;
}
.contact-text .contact-details .details ul .icon:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
}
.contact-text .contact-details .details ul .icon.mobile:before {
    background: url('../images/icon.mobile-contact-details.png');
    width: 11px;
    height: 18px;
}
.contact-text .contact-details .details ul .icon.phone:before {
    background: url('../images/icon.phone-contact-details.png');
    width: 21px;
    height: 19px;
}
.map {
    clear: both;
    width: 100%;
    height: 160px;
    background: #eee;
}
.homepage {
    background: url('../images/bg.home-slider.jpg') no-repeat center top;
}
.home-slider .slider-area {
    position: relative;
    height: 548px;
}
.home-slider .slider-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
}
.home-slider .slider-area .slider-content {
    display: table;
    width: 100%;
    height: 548px;
}
.home-slider .slider-area .slider-content .wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 27%;
}
.home-slider .slider-area .slider-content .wrapper a.more {
    display: inline-block;
    background: #000;
    padding: 4px;
}
.home-slider .slider-area .slider-content .wrapper a.more span {
    display: inline-block;
    padding: 5px 7px;
    border: 1px solid white;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
}
.home-slider .slider-text h5 {
    font-size: 21px;
}
.home-slider .slider-content h1 {
    font-size: 36px;
}
.home-slider .slider-content h3 {
    font-size: 24px;
}
